
/*
character sheet
*/
.bookPage-charStats,
.bookPage-profile
{
	padding-top: 4rem;
}
.bookPage-profile
{

}
.bookPage-profile .pageSection-headshot
{
	display: grid;
	grid-template-columns: 225px 1fr;
	grid-gap: 1rem;
}
.bookPage-profile .pageSection-headshot h2.characterName
{
	vertical-align: top;
}
.bookPage-profile .pageSection-headshot img 
{
	width: 250px;
	max-width: 100%;
	height: auto;
	margin: 0 1rem 1rem 0;
	border: 2px solid black;
	border-radius: 5px 3px 7px 2px;
}

@media screen and (max-width:1200px)
{
	.bookPage-profile .pageSection-headshot
	{
		grid-template-columns: 1fr 1fr;
	}
}







.characterTitle
{
	font-size: 1.2rem;
}
.characterClassRace
{
	font-size: 1.2rem;
}





.bookSection-character div.numericStat
{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	flex-wrap: nowrap;
	border-bottom: 1px dotted #333;
	font-size: 1.25rem;
	padding: .5rem 0;
}
.bookSection-character div.ratioStat
{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: nowrap;
}
.bookSection-character div.ratioStat > label
{
	margin-right: 1rem;
	font-size: var(--fontSizeIII)
}
.bookSection-character div.ratioStat > label::after
{
	content:'-';
	margin-left: .5rem;
}
.bookSection-character div.ratioStat > span
{
	font-size: var(--fontSizeIV)
}