
/*
inventory
*/

.inventoryGroup
{
	display: grid;
	grid-template-columns: repeat( 3, 1fr );
	align-items: start;
}
.inventoryGroup button
{
	font-family: 'Shadows Into Light';
	font-size: 1.25rem;
}
.inventoryGroup button.itemSlot
{
	display: inline-block;
	margin: 0 0 .5rem 0;
	width: 91%;
	padding: .5rem 1rem;
	cursor: pointer;
	background-color: transparent;
	border: 1px solid rgba(0,0,0,.5);
	border-radius: 3px;
}
.inventoryGroup button.itemSlot:nth-child(2n + 1)
{
	transform: rotate(.5deg);
}
.inventoryGroup button.itemSlot:nth-child(2n + 2)
{
	transform: rotate(-1deg);
}
.inventoryGroup button.itemSlot:hover,
.inventoryGroup button.itemSlot:focus
{
	border-color: #880000;;
	box-shadow: inset 0 0 .5rem #880000;
}
.bookSection-inventory button.inventorySlot
{
	display: block;
	padding: 4px;
	width: 7rem;
	height: 7rem;

	background-color: rgba(0,0,0,.1);;
	border: 2px solid rgba(0,0,0,.5);
	background-repeat: no-repeat;
	border-radius: 3px;
	cursor: pointer;;
}
.bookSection-inventory button.inventorySlot:hover,
.bookSection-inventory button.inventorySlot:focus
{
	border-color: #880000;;
	box-shadow: inset 0 0 .5rem #880000;
}

.bookPage-charInventory
{
	display: grid;
	grid-template-columns: repeat( 10, 1fr );
	grid-template-rows: 7rem 7rem 7rem;
	grid-gap: 32px 8px;
}
.bookPage-charInventory button.inventorySlot.inventorySlot-0
{
	grid-column-start: 5;
	grid-column-end: span 2;
	grid-row-start: 1;
}
.bookPage-charInventory button.inventorySlot.inventorySlot-1
{
	grid-column-start: 5;
	grid-column-end: span 2;
	grid-row-start: 2;
}
.bookPage-charInventory button.inventorySlot.inventorySlot-2
{
	grid-column-start: 5;
	grid-column-end: span 2;
	grid-row-start: 3;
}
.bookPage-charInventory button.inventorySlot.inventorySlot-3
{
	grid-column-start: 2;
	grid-column-end: span 2;
	grid-row-start: 2;
}
.bookPage-charInventory button.inventorySlot.inventorySlot-4
{
	grid-column-start: 8;
	grid-column-end: span 2;
	grid-row-start: 2;
}

.bookPage-charInventory button.inventorySlot.inventorySlot-5
{
	grid-column-start: 5;
	grid-column-end: span 2;
	grid-row-start: 6;
}



