
/*
Options
*/
.bookPage-options
{

}
.bookPage-options a
{
	display: block;
}
.bookPage-options a:hover,
.bookPage-options a:focus
{
	text-decoration: underline;
	cursor: pointer;
}
.bookPage-options input
{
	display: block;
	background-color: rgba(255,255,255,.4);
	border: 1px solid black;
	padding: .5rem 1rem;
	border-radius: 3px;
}