

/*
quests
*/
.bookPage-questClues
{

}
.bookPage-questClues .questClue:nth-child(2n+1)
{
	transform:rotate(-3deg);
}
.bookPage-questClues .questClue:nth-child(2n+2)
{
	transform:rotate(1.5deg);
}
.bookPage-questClues .questClue:nth-child(2n+3)
{
	transform:rotate(-1deg);
}
.bookPage-quest h3.questTitle
{
	text-align: center;
}
.bookPage-quest img
{
	display: block;
	margin: 1rem auto;
	width: 400px;
	height: auto;
	border: 2px solid rgba(0,0,0,.25);
	border-radius: 5px 3px 7px 2px;
}
.bookPage-quest p
{
	padding-left: 2rem;
	padding-right: 2rem;
	text-indent: 2rem;
}


.bookSection-quest
{

}
.questClue
{
	margin: 1rem 0 2rem 0;
}
.questClue > div
{
	font-size: var(--fontSizeIV);
}
.questClue > cite
{
	display: block;;
	text-align: right;
	font-size: var(--fontSizeIV);
}
.questClue-none
{
	font-size: var(--fontSizeV);
}








