@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

body
{
	font-size: 18px;
	--fontSizeI: 0.8rem;
	--fontSizeII: 1rem;
	--fontSizeIII: 1.25rem;
	--fontSizeIV: 1.563rem;
	--fontSizeV: 1.953rem;
	--fontSizeVI: 2.441rem;
	--fontSizeVII: 3.052rem;
	font-family: 'Shadows Into Light', cursive;
}

body *
{
	box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6
{
	font-family: 'Shadows Into Light', cursive;
}
body a:hover,
body a:focus
{
	color: #880000;
	text-decoration-color: #880000;
}


.book
{
	max-width: 75rem;
	margin: 0 auto;
}
.book-content
{
	color: #333;
}






/*
navigation
*/
	/*
	chapter navigation
	*/
	.book-nav
	{
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		justify-content: center;
		align-items: center;
		justify-items: center;
		border-bottom: 2px solid black;
	}


	.book-nav a.bookmark
	{
		font-size: var(--fontSizeIV);
		color: #111;
		padding: .25rem 1rem;
		display: block;

	}
	.book-nav a.bookmark:hover,
	.book-nav a.bookmark:focus
	{
		color: #880000;
	}
	.book-nav a.bookmark-active
	{
		color: red;
		font-size: var(--fontSizeIV);
		text-decoration: underline;
		text-decoration-color: red;
	}
	.book-nav a.bookmark-active:hover,
	.book-nav a.bookmark-active.focus
	{
		color: red;
	}



	/*
	page / in-section navigation (page dogears)
	*/

	.dogearNav
	{
		font-size: var(--fontSizeIV);
		min-height: 3rem;
		z-index: 100;
		grid-row-start: 1;
		grid-row-end: 1;
		grid-column-start: 1;
		grid-column-end: span 2;
		width: 100%;
		
		display: grid;
		grid-template-columns: repeat( 2, 1fr);

		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	.dogearNav .dogearNav_left
	{
		text-align: left;
	}
	.dogearNav .dogearNav_right
	{
		text-align: right;
	}
	.dogearNav .dogearNav_prevBtn,
	.dogearNav .dogearNav_nextBtn
	{
		padding:.25rem 0;
		font-size: var(--fontSizeII);
		grid-column-end: span 1;
		background:transparent;
		border: unset;
		color: #333;
	}
	.dogearNav .dogearNav_prevBtn
	{
		grid-column-start: 1;
	}
	.dogearNav .dogearNav_nextBtn
	{
		grid-column-start: 2;
	}
	.dogearNav .dogearNav_prevBtn:hover,
	.dogearNav .dogearNav_prevBtn:focus,
	.dogearNav .dogearNav_nextBtn:hover,
	.dogearNav .dogearNav_nextBtn:focus
	{
		border-bottom: 2px solid #880000;
		cursor: pointer;
		color: #880000;
	}



/*
book sections 
*/


.bookSection
{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 0;
	width: 100%;
}

@media screen and (max-width: 800px)
{
	.bookSection
	{
		grid-template-columns: 1fr;
	}
}


/*
book pages
*/
.bookPage
{
	padding: 4rem;
	background-image:url('http://localhost:3000/assets/general/oldPaper1-alt.png');
	background-repeat: no-repeat;
	background-size: 100% auto;
	min-height: 900px;
	font-size: var(--fontSizeIII)

}

.bookPage h2,
.bookPage h3
{
	font-size: var(--fontSizeVI);
	margin: 1rem 0;
	border-bottom: 2px solid #333;
}
.bookPage h2:first-child,
.bookPage h3:first-child
{
	margin-top: 0;
}



.actionable
{
	color: #333;
	animation-name: textPulse;
	animation-timing-function: ease-in-out;
	animation-duration: 3s;
	animation-fill-mode: both;
	animation-iteration-count: infinite;
}
.actionable:hover,
.actionable:hover *,
.actionable:focus *,
.actionable:focus
{
	color: #880000;
	animation-name: unset;
	cursor: pointer;
}
@keyframes textPulse
{
	0%
	{
		color: #111;
	}
	50%
	{
		color: #444;
	}
	100%
	{
		color: #111;
	}
}






.uk-modal-dialog
{
	background-image:url('http://localhost:3000/assets/general/modal.png');
	background-repeat: no-repeat;
	background-size: 100% auto;
	min-height: 325px;
	width: 800px;
	padding-left: 4rem;
	padding-right: 4rem;
	background-color: transparent;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;;

	font-size: var(--fontSizeV);
	color: #111;
}













.bookMenuApp
{
	background-image: url( http://localhost:3000/assets/backgrounds/skyrim.jpg );
	background-size: 100vw auto;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
.bookMenuApp[data-idolisactive="true"]
{
	background-image: url( http://localhost:3000/assets/backgrounds/beksinski.jpg );
}





.genericButton
{
	display: block;
	margin: 1rem 0 1.5rem 0;
	width: 100%;
	padding: .5rem 1rem;
	cursor: pointer;
	background-color: transparent;
	border: 1px solid rgba(0,0,0,.5);
	font-family: 'Shadows Into Light';
	font-size: var(--fontSIzeIV);
	transition: background-color .1s, color .2s;
}
.genericButton:hover,
.genericButton:focus
{
	border-color: #880000;
	box-shadow: inset 0 0 .5rem #880000;
}
.genericButton:hover:active
{
	background-color: #880000;
	color: white;
}
.genericButton:nth-child(2n + 1)
{
	transform: rotate(.5deg);
}
.genericButton:nth-child(2n + 2)
{
	transform: rotate(-1deg);
}